@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<strong>GitHub Repo : </strong> <a href="https://github.com/nponnaganti/WeatherAPI">WeatherAPI</a>
<p>Sitecore 8.0 Certified Developer ( year : 2016 ) </p>
