@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    William street<br />
    Melbourne CBD<br />
    <abbr title="Phone">P:</abbr>
    405082664
</address>

<address>
    <strong>Nagendra:</strong>   <a href="mailto:Support@example.com">nag.mrtn41@gmail.com</a><br />
    <strong>NOW Digital:</strong> <a href="mailto:nponnaganti@nowdigital.com.au">nponnaganti@nowdigital.com.au</a>
</address>